body {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    line-height: 1.5rem;
}

.articles-container {
    float: left;
    width: 67%;

}

.main-content {
    float: left;
    background-color: #ffffff;

}


.main-content-header {
    color: #2f9db5;
}

.main-content-quotation {
    font-style: italic;
    color: #2f9db5;

}

.secondary-content {
    float: left;
    background-color: #ffffff;
}


.secondary-content-header {
    color: #3c3c3c;
}

.header-banner {
    z-index: -1;
    width: 100%;
}

nav {
    padding: 1em;
}

.header-text-buffer-wrapper {
    padding: 1em;
}

.header-text-heading {
    color: #ffffff;
    font-size: 3em;

}

.header-text-paragraph {
    color: #ffffff;
    font-size: large;
    font-style: italic;
    width: 80%;
}

.header-text {
    position: absolute;
    padding-left: 15%;
    padding-right: 15%;
    top: 5em;
}

.header-nav-container {
    padding-left: 15%;
    padding-right: 15%;
}

.header-nav {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-weight: bold;
    color: #3c3c3c;
}

.footer-banner {
    z-index: 1;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.footer-nav {
    z-index: 2;
    text-align: center;
    color: #ffffff;
    margin: 0 auto;

}

.footer-text {
    margin: 0 auto;
    width: 451px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 1230px;
}

.footer-paragraph {
    color: #ffffff;

}

.side-image {
    display: block;
    max-width: 100%;
}


aside {
    float: right;
    max-width: 256px;
    background-color: #ffffff;
    padding: 1em;
}

header {
    display: block;
    background-color: #e4e7e8;

}

article {
    padding: 1em;
}

main {
    display: block;
    padding-left: 15%;
    padding-right:15%;
    margin: 0 auto;
    overflow: hidden;

}

footer {
    display: block;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    background-color: #3c3c3c;
}

a {
    text-decoration: none;
}



nav > a:visited { 
    text-decoration: none; color: #3c3c3c; 
}

nav > a:hover { 
    text-decoration: none; color: #3c3c3c; 
}

nav > a:focus { 
    text-decoration: none; color: #3c3c3c; 
}

nav > a:hover, a:active { 
    text-decoration: none; color: #3c3c3c; 
}

nav.footer-nav > a:visited { 
    text-decoration: none; color: #ffffff; 
}

nav.footer-nav > a:hover { 
    text-decoration: none; color: #ffffff; 
}

nav.footer-nav > a:focus { 
    text-decoration: none; color: #ffffff; 
}

nav.footer-nav > a:hover, a:active { 
    text-decoration: none; color: #ffffff; 
}

aside > p > a:visited { text-decoration: none; color: #2f9db5;
}
aside > p > a:hover { text-decoration: none; color: #2f9db5;
}
aside > p > a:focus { text-decoration: none; color: #2f9db5;
}
aside > p > a:hover, a:active { text-decoration: none; color: #2f9db5;
}

p {
    color: #3c3c3c;
}

h3 {
    color: #3c3c3c;

}