body {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    line-height: 1.5rem;
}

.hidden {
    position:relative;
    left: -1000px;
    top: auto;
}

.hidden:focus {
    left: 0;
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.articles-container {
    float: left;
    width: 67%;

}

.main-content {
    float: left;
    background-color: #ffffff;

}

.main-content-form {
    padding: 1em;
    float: left;
    width: 67%;
}


.main-content-header {
    color: #2f9db5;
}

.main-content-quotation {
    font-style: italic;
    color: #2f9db5;

}

.secondary-content {
    float: left;
    background-color: #ffffff;
}


.secondary-content-header {
    color: #3c3c3c;
}

.header-banner {
    z-index: -1;
    width: 100%;
}

nav {
    padding: 1em;
}

.header-text-buffer-wrapper {
    padding: 1em;
}

.header-text-heading {
    color: #ffffff;
    font-size: 3em;

}

.header-text-paragraph {
    color: #ffffff;
    font-size: large;
    font-style: italic;
    width: 80%;
}

.header-text {
    position: absolute;
    padding-left: 15%;
    padding-right: 15%;
    top: 5em;
}

.header-nav-container {
    padding-left: 15%;
    padding-right: 15%;
}

.header-nav {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-weight: bold;
    color: #3c3c3c;
}

.header-nav a {
    padding: 2em;
    font-size: large;
}

.footer-banner {
    z-index: 1;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.footer-nav {
    z-index: 2;
    text-align: center;
    color: #ffffff;
    margin: 0 auto;
    padding: 1em;

}

.footer-text {
    margin: 0 auto;
    width: 451px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 1230px;
}

.footer-paragraph {
    color: #ffffff;

}

.side-image {
    display: block;
    max-width: 100%;
}

form {
    background-color: #e4e7e8;
    padding: 1em;
    width: 70%;
}


aside {
    float: right;
    max-width: 256px;
    background-color: #ffffff;
    padding: 1em;
}

header {
    display: block;
    background-color: #e4e7e8;

}

article {
    padding: 1em;
}


label {
    padding: 1rem 0 0 1rem;
    display: inline-block;
    width: 120px;
    font-weight: bold;
}

.button-wrapper {
    padding: 1rem 0 0 1rem;
    width: 200px;
}


main {
    display: block;
    padding-left: 15%;
    padding-right:15%;
    margin: 0 auto;
    overflow: hidden;

}

footer {
    display: block;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    background-color: #3c3c3c;
}

a {
    text-decoration: none;
}

button {
    padding: 0 1rem 0 1rem;
    background-color: #2f9db5;
    color: #FFFFFF;
    font-size: medium;
    font-weight: bold;
    width: 200px;
}

select {
    padding: 0rem;
    background-color: #2f9db5;
    color: #FFFFFF;
    font-size: medium;
    font-weight: bold;
}

nav > a:link { 
    text-decoration: none; color: #3c3c3c; 
}

nav > a:visited { 
    text-decoration: none; color: #3c3c3c; 
}

nav > a:hover { 
    text-decoration: none; color: #3c3c3c; 
}

nav > a:focus { 
    text-decoration: none; color: #3c3c3c; 
}

nav > a:hover, a:link { 
    text-decoration: none; color: #3c3c3c; 
}

nav > a:hover, a:active { 
    text-decoration: none; color: #3c3c3c; 
}

nav.footer-nav > a:link { 
    text-decoration: none;
    color: #ffffff;     
    padding: 1em;

}

nav.footer-nav > a:visited { 
    text-decoration: none;
    color: #ffffff; 
    padding: 1em;
}

nav.footer-nav > a:hover { 
    text-decoration: none; 
    color: #ffffff; 
    padding: 1em;

}

nav.footer-nav > a:focus { 
    text-decoration: none;
    color: #ffffff;
    padding: 1em;

}

nav.footer-nav > a:hover, a:active { 
    text-decoration: none;
    color: #ffffff; 
    padding: 1em;

}

aside > p > a:visited { text-decoration: none; color: #2f9db5;
}
aside > p > a:hover { text-decoration: none; color: #2f9db5;
}
aside > p > a:focus { text-decoration: none; color: #2f9db5;
}
aside > p > a:hover, a:active { text-decoration: none; color: #2f9db5;
}

p {
    color: #3c3c3c;
}

h3 {
    color: #3c3c3c;

}

input[type=text], input[type=email], input[type=time], select {
    width: 200px;
    height: 2em;
    margin: 1em;
}

input[type=radio] {
    margin: 2em;
}
