body {
    background-color: whitesmoke;
    font-family: sans-serif;
    align-items: center;
    line-height: 1.5rem;
}

.articles-container {
    float: left;
    width: 60%;

}

.main-content {
    float: left;
    background-color: #F09A9D;

}

.main-content-paragraph {
}

.main-content-header {

}

.main-content-quotation {

}

.secondary-content {
    float: left;
    background-color: #F5CF8E; 
}

.secondary-content-paragraph {

}

.secondary-content-header {

}

.header-banner {
    z-index: -1;
    width: 100%;
}

.header-nav {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: gray;
}

.footer-banner {
    z-index: 1;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.footer-nav {
    z-index: 2;
    text-align: center;
}

.footer-text {
    position: relative;
    bottom: 17em;
}

.side-image {
    display: block;
    max-width: 100%;
}


aside {
    float: right;
    max-width: 256px;
    background-color: #F09A9D; 
    padding: 1em;
}

header {
    display: block;
}

article {
    padding: 1em;
}

main {
    display: block;
    padding-left: 15%;
    padding-right:15%;
    margin: 0 auto;
    overflow: hidden;

}

footer {
    display: block;
    align-items: center;
    padding: 1em;
    margin: 0 auto;
    text-align: center;


}

